/* Reset and Base Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: #1c1c1c;
}

/* Root Variables */
:root {
  --progress-bar-width: 200px;
  --progress-bar-height: 200px;
  --font-size: 2rem;
}

/* Container Styles */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  color: #e0e0e0;
}

header span {
  font-size: 20px;
}

header h4 {
  cursor: pointer;
  display: none;
}

/* Game Section */
#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e0e0e0;
}

/* Rules Section */
#rules {
  display: none;
  width: 50%;
  padding: 50px;
  color: #e0e0e0;
}

/* Mode Selection */
#mode.none {
  padding: 150px 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}

.option {
  background: #222;
  border: 3px solid #333;
}

.option:hover {
  opacity: 0.8;
}

/* Players Number Section */
#playersNo {
  display: none;
  padding: 60px;
  margin: 60px;
  border-radius: 12px;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  font-size: 46px;
  width: 50%;
  color: #e0e0e0;
}

#playersNo * {
  padding: 5px;
  margin: 8px;
}

#playersNo h3 {
  font-size: 40px;
}

#war {
  display: none;
  color: #000000;
  font-size: 30px;
  width: 100%;
  background: #ff2424;
  border-radius: 12px;
  border: 2px solid;
}

/* Hidden Sections */
.none {
  padding: 150px 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}

/* Input and Button Specific Styles */
#name,
#type {
  display: none;
}

#submit {
  color: #151515;
}

/* R Section */
#r.none {
  display: none;
}

#pass {
  font-size: 2rem;
}

#name {
  font-size: 2rem;
}

#type {
  font-size: 2rem;
}

#nextBtn {
  background: #222;
  border: 3px solid #333;
}

#nextBtn:hover {
  opacity: 0.8;
}

/* Timer Section */
#timer.none {
  display: none;
}

#timerSection {
  display: none;
}

.circular-progress {
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-circle {
  width: calc(var(--progress-bar-width) - 30px);
  height: calc(var(--progress-bar-height) - 30px);
  border-radius: 50%;
  background-color: lightgrey;
  position: absolute;
}

.percentage {
  font-size: var(--font-size);
  color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.show {
  background: #222;
  border: 3px solid #333;
}

.show:hover {
  opacity: 0.8;
}

/* Lose Section */
#lose.none {
  display: none;
}

#imp {
  background: #f00;
}

#det {
  background: #00f;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns * {
  font-size: 20px;
}

#playerLo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#players {
  margin: 15px;
  padding: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Dash Section */
#dash.none {
  display: none;
}

#ul {
  text-align: right;
}

/* Responsive Styles */
@media screen and (max-width: 460px) {
  header {
    flex-direction: column;
    font-size: 20px;
    text-align: center;
  }

  header span {
    font-size: 15px;
  }

  .option {
    width: 80%;
  }

  #rules {
    width: 100%;
  }

  #dash {
    padding: 20px;
  }

  .none {
    padding: 35% 0 0;
    font-size: x-large;
  }

  #playersNo {
    width: 90%;
    padding: 20px;
    margin: 32px 0 0;
  }

  #war {
    font-size: 18px;
  }
}
